<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    
  <add name="PTGwmsSD004Entities" connectionString="metadata=res://*/ModelEntitySD004.csdl|res://*/ModelEntitySD004.ssdl|res://*/ModelEntitySD004.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.100.149;initial catalog=PTGwms;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="PTGwmsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.100.149;initial catalog=PTGwms;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="PTGwmsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PITAK-NB;initial catalog=PTGwms;persist security info=True;user id=sa;password=*Adm@krs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="PTGwmsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.112.42;initial catalog=PTGwms;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>


  <!--สำหรับ Update url SD004-->
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="I_SD004_PostGI_WMS_To_SAP_OutBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="I_SD004_PostGI_WMS_To_SAP_OutBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<endpoint address="http://172.19.100.53:51000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_App&amp;receiverParty=&amp;receiverService=&amp;interface=I_SD004_PostGI_WMS_To_SAP_Out&amp;interfaceNamespace=urn%3Aptgenergy.co.th%3ALegacy%3ASalesAndDistribution" binding="basicHttpBinding" bindingConfiguration="I_SD004_PostGI_WMS_To_SAP_OutBinding" contract="ServiceReference1.I_SD004_PostGI_WMS_To_SAP_Out" name="HTTP_Port" />-->
    <!--<endpoint address="https://172.19.100.53:51001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_App&amp;receiverParty=&amp;receiverService=&amp;interface=I_SD004_PostGI_WMS_To_SAP_Out&amp;interfaceNamespace=urn%3Aptgenergy.co.th%3ALegacy%3ASalesAndDistribution" binding="basicHttpBinding" bindingConfiguration="I_SD004_PostGI_WMS_To_SAP_OutBinding1" contract="ServiceReference1.I_SD004_PostGI_WMS_To_SAP_Out" name="HTTPS_Port" />-->
    <client>
      <endpoint address="http://172.19.100.151:52000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_App&amp;receiverParty=&amp;receiverService=&amp;interface=I_SD004_PostGI_WMS_To_SAP_Out&amp;interfaceNamespace=urn%3Aptgenergy.co.th%3ALegacy%3ASalesAndDistribution"
        binding="basicHttpBinding" bindingConfiguration="I_SD004_PostGI_WMS_To_SAP_OutBinding"
        contract="ServiceReference1.I_SD004_PostGI_WMS_To_SAP_Out" name="HTTP_Port" />
      <endpoint address="https://172.19.100.151:52001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_App&amp;receiverParty=&amp;receiverService=&amp;interface=I_SD004_PostGI_WMS_To_SAP_Out&amp;interfaceNamespace=urn%3Aptgenergy.co.th%3ALegacy%3ASalesAndDistribution"
        binding="basicHttpBinding" bindingConfiguration="I_SD004_PostGI_WMS_To_SAP_OutBinding1"
        contract="ServiceReference1.I_SD004_PostGI_WMS_To_SAP_Out" name="HTTPS_Port" />
    </client>
  </system.serviceModel>
  <!--End สำหรับ Update url SD004-->
  
</configuration>